.container {
  display: flex;
  margin: var(--gap-xs) var(--gap-m);

  &.received {
    justify-content: flex-start;
    margin-right: var(--gap-xl);
  }

  &.sent {
    justify-content: flex-end;
    margin-left: var(--gap-xl);
  }

  .message {
    padding: var(--gap-s) var(--gap-m);
    background-color: var(--yellow);
    color: var(--black);
    border-radius: var(--border-radius-m);
    font-size: var(--font-14);
    line-height: 1.4;

    &.received {
      background-color: var(--peach);
    }

    .timeStamp {
      font-size: var(--font-10);
      color: var(--gray);
      margin-left: var(--gap-s);
    }
  }
}
