.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background-color: var(--black);
  padding: var(--gap-m);
  border-radius: var(--border-radius-l);

  .chatCardsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-s);
    width: 100%;
    flex: 1;
    overflow: auto;
    padding-bottom: var(--gap-m);
  }

  .newChatButton {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap-s);
    height: 35px;
    border-radius: var(--border-radius-m);
    padding: var(--gap-m);
    color: var(--white);
    font-weight: bold;
    font-size: var(--font-14);
    background-color: var(--green);
    transition: background-color 0.2s;

    &:focus-visible {
      background-color: var(--light-green);
    }

    &:enabled:hover {
      background-color: var(--light-green);
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
