:root {
  --gap-xs: 5px;
  --gap-s: 10px;
  --gap-m: 20px;
  --gap-l: 40px;
  --gap-xl: 80px;

  --black: #000;
  --white: #fff;
  --dark-gray: #1e1e1e;
  --gray: #3c3c3c;
  --beige: #fff5d2;
  --yellow: #f9ca3f;
  --light-yellow: #ffe386;
  --green: #44ca86;
  --light-green: #78e6af;
  --peach: #ffbd8c;

  --border-radius-s: 5px;
  --border-radius-m: 15px;
  --border-radius-l: 25px;

  --font-10: calc(10rem / 16);
  --font-14: calc(14rem / 16);
  --font-18: calc(18rem / 16);
}
